body {
	font-family: 'Roboto', sans-serif;
}
#language-intro {
	padding: 5% 0;
}
#language-table > tbody > tr > td {
	vertical-align: middle;
}
@media (min-width: 75em) {
	.container{
		max-width: 50rem;
		padding-top: 2.5%;
		padding-bottom: 2.5%;
	}
}

/**
* Responsive Stuff
* http://bootsnipp.com/snippets/featured/no-more-tables-respsonsive-table
*/
@media only screen and (max-width: 34em) {

	/* Reduce Typography Size by 25% */
	.h1, h1 {
		font-size: calc(2.5rem - (2.5rem * 0.25));
	}
	.h4, h4 {
		font-size: calc(1.5rem - (1.5rem * 0.25));
	}
	.lead {
		font-size: calc(1.25rem - (1.25rem * 0.25));
	}

	/* Force table to not be like tables anymore */
	.table-no-more table, 
	.table-no-more thead, 
	.table-no-more tbody, 
	.table-no-more th, 
	.table-no-more td, 
	.table-no-more tr { 
		display: block; 
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.table-no-more thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.table-no-more tr {
		border: 1px solid #ccc;
	}

	.table-no-more tr,
	.table-no-more tr > td:last-child {
		border-bottom: none;
	}

	.table-no-more td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}

	.table-no-more td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 13px;
		left: 13px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/* Label the data */
	.table-no-more td:before {
		content: attr(data-title);
	}
}